<html>
<head></head>
<body>

<div id='queryTestDiv1'/>
<script type="text/javascript">

 ///////////////////////////////////////
 // A narrow grid view 
 ///////////////////////////////////////

var qwp1 = new LABKEY.QueryWebPart({
    renderTo: 'queryTestDiv1',
    title: 'My Query Web Part',
    schemaName: 'study',
    queryName: 'Lab Results Query',
	showDetailsColumn: false,
	frame: ' none',
    maxRows: '20',
    buttonBar: {
        includeStandardButtons: true,
    }
});

function onTestHandler(dataRegion)
{
    alert("onTestHandler called!");
    return false;
}

function onItem1Handler(dataRegion)
{
    alert("onItem1Handler called!");
}

function onItem2Handler(dataRegion)
{
    alert("onItem2Handler called!");
}
</script>
</body>
</html>