<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="text-align: center;">
        <img src="https://media.tenor.com/TTTGbs0vtOEAAAAi/bread-spin.gif" alt="spinning bread" style="width:30px;height:30px;margin-bottom:5px;margin-right:15px;">
        <a href="http://labkey.com" target="_blank">Powered by LabKey and Yeast </a>
        <img src="https://media.tenor.com/TTTGbs0vtOEAAAAi/bread-spin.gif" alt="spinning bread" style="width:30px;height:30px;margin-bottom: 5px;">
    </div>
</body>
</html>
