<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Views and Webparts Documentation</title>
    </head>

    <body>
        <div style="width:500px;">
            The left-hand custom view is rendered using the following files:
            <ul>
                <li> sourdough/resources/views/dailylog.html </li>
                <li> sourdough/resources/views/dailylog.view.xml </li>
                <li> sourdough/resources/views/dailylog.webpart.xml </li>
            </ul>

            The scripts and styles may be found in the directory:
            <ul>
                <li> sourdough/resources/web/dailylog </li>
            </ul>

            For examples on how to load custom CSS and JS files, as well as how to import third party dependencies, see:
            <ul>
                <li> dailylog.view.xml </li>
            </ul>

            For examples on how to make LabKey API calls within your scripts, see:
            <ul>
                <li> sourdough/resources/web/dailylog/script.js </li>
            </ul>

            Further documentation may be found <a href="https://www.labkey.org/Documentation/wiki-page.view?name=addHTMLandWebPart">here</a>.
        </div>
    </body>
</html>
