<div class="daily-log">
    <div id='myQWP'></div>
    <div class="daily-log-form">
        <div class="daily-log-form__title"> Add a New Entry </div>
        <div class="daily-log-input">
            <label for="date" class="daily-log-input__label">Date</label>
            <input type="text" id="date" name="date" class="daily-log-input__field">
        </div>
        <div class="daily-log-input">
            <label for="comment" class="daily-log-input__label">Comment</label>
            <textarea id="comment" name="comment" class="daily-log-input__field"></textarea>
        </div>
        <div class="daily-log-input">
            <div class="daily-log-input__label">Picture</div>
            <label for="picture" class="daily-log-upload-label">upload</label>
            <input type="file" id="picture" name="picture">
            <div id="daily-log-upload-indicator"></div>
        </div>
        <div class="daily-log-form__submit" id="daily-log-form__submit" onclick="onSubmit()"> Submit </div>
    </div>
</div>
<script type="text/javascript" nonce="<%=scriptNonce%>">
    LABKEY.Utils.onReady(function(){
        const el = document.getElementById('picture');
        el['onchange'] = function() { onUpload(el); };
        document.getElementById('daily-log-form__submit')['onclick'] = onSubmit;
        init();
    });
</script>
