<div>
    The Dashboard R Report is rendered using the file:
    <ul>
        <li> sourdough/resources/reports/schemas/lists/Rises/risesgraph.r </li>
    </ul>

    The SQL Query and its Metadata may be found in the directory:
    <ul>
        <li> sourdough/resources/queries/lists </li>
    </ul>

    The Dashboard View was rendered using the following files:
    <ul>
        <li> sourdough/resources/views/dashboard.html </li>
        <li> sourdough/resources/views/dashboard.view.xml </li>
        <li> sourdough/resources/views/dashboard.webpart.xml </li>
        <li> sourdough/resources/web/dashboard/script.js </li>
        <li> sourdough/resources/web/dashboard/styles.css </li>
    </ul>

    Further File-based Module documentation:
    <ul>
        <li> <a href="https://www.labkey.org/Documentation/wiki-page.view?name=addRReport">R Reports</a> </li>
        <li> <a href="https://www.labkey.org/Documentation/wiki-page.view?name=viewsmenu">Report Metadata</a> </li>
        <li> <a href="https://www.labkey.org/Documentation/wiki-page.view?name=addSQLQuery">SQL Queries</a> </li>
        <li> <a href="https://www.labkey.org/Documentation/wiki-page.view?name=addCustomQueryView">Query Views</a> </li>
        <li> <a href="https://www.labkey.org/Documentation/wiki-page.view?name=columnMetadata">Query Metadata</a> </li>
    </ul>
</div>
