<div style="width:550px;">
    <div>
        To learn the basics of Module development, visit our
        <a href="https://www.labkey.org/Documentation/wiki-page.view?name=simpleModules">Doc pages</a>!
        They contain more information regarding topics such as the anatomy of module files, how to deploy modules
        to a production server, how to customize headers, footers, and login pages, as well as Premium guides on
        coding standards and best practices.
    </div>
    <div>
        Additionally, our <a href="https://www.labkey.org/download/schema-docs/xml-schemas/">XML Documentation</a>
        is frequently helpful to reference while exploring the capabilities of file-based modules.
    </div>

    <br/>

    <div>
        To read about advanced File Based Module capabilities not covered within Sourdough:
        <ul>
            <li>
                <a href="https://www.labkey.org/Documentation/wiki-page.view?name=moduleassay">Assay Types</a>
            </li>
            <li>
                <a href="https://www.labkey.org/Documentation/wiki-page.view?name=etlModule">ETLs</a>
            </li>
            <li>
                <a href="https://www.labkey.org/Documentation/wiki-page.view?name=serverSideValidation">Trigger Scripts</a>
            </li>
            <li>
                <a href="https://www.labkey.org/Documentation/wiki-page.view?name=rPipeline">Script Pipelines</a>
            </li>
        </ul>
    </div>

    <div>
        File-based modules such as Sourdough are highly flexible and powerful, but they are not the only types of
        LabKey modules out there! It is also possible to build:
        <ul>
            <li>
                <a href="https://www.labkey.org/Documentation/wiki-page.view?name=buildingModule">Java modules</a>
            </li>

            <li>
                <a href="https://github.com/LabKey/tutorialModules/tree/develop/demo">React modules</a>
            </li>
        </ul>
    </div>
</div>
