<h3> Welcome to the Sourdough File-based Module!  </h3>
<div>
    In the examples contained herein, we follow the efforts of a hobbyist baker as they seek to
    perfect their sourdough loaf recipe.
</div>
<div>
    To get started, click below to initialize data import and styling configuration.
    <div class="overview">
        <div class="overview__button" onclick="onInit()"> Initialize </div>
        <div id="overview__text"> </div>
    </div>
</div>

<div>
    In the Views and Webparts Tab, we cover:
    <ul>
        <li> Creating views and webparts </li>
        <li> Importing custom CSS and JS dependencies </li>
        <li> Utilizing the LabKey JS API within custom scripts </li>
        <li> Importing third party JS dependencies </li>
        <li> Creating a data entry form </li>
    </ul>
</div>

<div>
    In the Queries and Reports Tab, we cover:
    <ul>
        <li> R Reports </li>
        <li> SQL Queries </li>
        <li> Query Metadata </li>
    </ul>
</div>

<div>
    In the Organization and Deployment Tab, we cover:
    <ul>
        <li> Full-page style control </li>
        <li> Non-framed webparts </li>
        <li> Customizing the header and footer </li>
        <li> Customizing the login page </li>
    </ul>
</div>
