<div class="frame">
    <div class="frameHeader">
        <div class="frameHeader__title"> My Sourdough Website </div>
        <div class="frameHeader__subtitle"> A UI Prototype </div>
    </div>

    <div class="loafContainer">
        <img class="loaf" src="https://media.tenor.com/TTTGbs0vtOEAAAAi/bread-spin.gif"  alt="bouncing bread"/>

        <div>
            Click <a href="<%=contextPath%><%=containerPath%>/sourdough-styling.view"> here </a> to see this panel as a full page!
        </div>
    </div>

    <div class="buttonRow">
        <div class="buttonRow__label">Toggle custom header and footer</div>
        <div class="buttonRow__button" id="setHeaderFooterOn"> on </div>
        <div class="buttonRow__button" id="setHeaderFooterOff"> off </div>
    </div>

    <div class="buttonRow">
        <div class="buttonRow__label">Toggle custom login page</div>
        <div class="buttonRow__button" id="setLoginOn"> on </div>
        <div class="buttonRow__button" id="setLoginOff"> off </div>
    </div>
</div>
<script type="text/javascript" nonce="<%=scriptNonce%>">
    LABKEY.Utils.onReady(function(){
        document.getElementById('setHeaderFooterOn')['onclick'] = function() { setHeaderFooter(true) };
        document.getElementById('setHeaderFooterOff')['onclick'] = function() { setHeaderFooter(false) };
        document.getElementById('setLoginOn')['onclick'] = function() { setLogin(true) };
        document.getElementById('setLoginOff')['onclick'] = function() { setLogin(false) };
    });
</script>
