<div>
    The left-hand custom view is rendered using the following files:
    <ul>
        <li> sourdough/resources/views/styling.html </li>
        <li> sourdough/resources/views/styling.view.xml </li>
        <li> sourdough/resources/views/styling.webpart.xml </li>
    </ul>

    The scripts and styles may be found in the directory:
    <ul>
        <li> sourdough/resources/web/styling </li>
    </ul>

    Header and Footer html files may be found in:
    <ul>
        <li> sourdough/resources/views/_header.html </li>
        <li> sourdough/resources/views/_footer.html </li>
    </ul>

    Further documentation on file-based module customizations:
    <ul>
        <li> <a href="https://www.labkey.org/Documentation/wiki-page.view?name=customheader">Headers</a> </li>
        <li> <a href="https://www.labkey.org/Documentation/wiki-page.view?name=custombanner">Banners</a> </li>
        <li> <a href="https://www.labkey.org/Documentation/wiki-page.view?name=customfooter">Footers</a> </li>
        <li> <a href="https://www.labkey.org/Documentation/wiki-page.view?name=customLogin">Login</a> </li>
        <li> <a href="https://www.labkey.org/Documentation/wiki-page.view?name=customWelcome">Welcome page</a> </li>
    </ul>
</div>
