<div class="frame">
    <div class="frameHeader">
        <div class="frameHeader__title"> My Sourdough Website </div>
        <div class="frameHeader__subtitle"> A UI Prototype </div>
    </div>

    <div class="loafContainer">
        <img class="loaf" src="https://media.tenor.com/TTTGbs0vtOEAAAAi/bread-spin.gif"  alt="bouncing bread"/>

        <div>
            Click <a href="<%=contextPath%>/project<%=containerPath%>/sourdough-styling.view"> here </a> to see this panel as a full page!
        </div>
    </div>

    <div class="buttonRow">
        <div class="buttonRow__label">Toggle custom header and footer</div>
        <div class="buttonRow__button" onclick="setHeaderFooter(true)"> on </div>
        <div class="buttonRow__button" onclick="setHeaderFooter(false)"> off </div>
    </div>

    <div class="buttonRow">
        <div class="buttonRow__label">Toggle custom login page</div>
        <div class="buttonRow__button" onclick="setLogin(true)"> on </div>
        <div class="buttonRow__button" onclick="setLogin(false)"> off </div>
    </div>
</div>
