* text=auto !eol
exampleassay/data/Machines.xls -text
exampleassay/data/NewAssay_BadData.xls -text
exampleassay/data/NewAssay_Run1.xls -text
exampleassay/data/NewAssay_Run2.xls -text
exampleassay/resources/assay/example/config.xml -text
exampleassay/resources/assay/example/domains/batch.xml -text
exampleassay/resources/assay/example/domains/result.xml -text
exampleassay/resources/assay/example/domains/run.xml -text
exampleassay/resources/assay/example/views/upload.html -text
interactiveTutorial/module.properties -text
interactiveTutorial/resources/views/Lab[!!-~]Results.html -text
interactiveTutorial/resources/views/Lab[!!-~]Results.webpart.xml -text
interactiveTutorial/resources/views/Physical[!!-~]Exam.html -text
interactiveTutorial/resources/views/Physical[!!-~]Exam.webpart.xml -text
