* text=auto !eol
exampleassay/assay/example/config.xml -text
exampleassay/assay/example/domains/batch.xml -text
exampleassay/assay/example/domains/result.xml -text
exampleassay/assay/example/domains/run.xml -text
exampleassay/assay/example/views/upload.html -text
exampleassay/build.xml -text
exampleassay/data/Machines.xls -text
exampleassay/data/NewAssay_BadData.xls -text
exampleassay/data/NewAssay_Run1.xls -text
exampleassay/data/NewAssay_Run2.xls -text
