<table>
    <tr>
        <td class='labkey-form-label'>Batch Name:</td>
        <td>
            <div id='batch_name_div'>
        <span class='extContainer x-form-field-wrap'>
          <input id='batch_name_input' type='text' value='' cols='40'>
        </span>
            </div>
        </td>
    </tr>
    <tr>
        <td class='labkey-form-label'>Created:</td>
        <td>
            <span id='batch_createdBy_span'></span><br>
            <span id='batch_created_span'></span>
        </td>
    </tr>
    <tr>
        <td class='labkey-form-label'>Modified:</td>
        <td>
            <span id='batch_modifiedBy_span'></span><br>
            <span id='batch_modified_span'></span>
        </td>
    </tr>
</table>


<form id='upload-run-form' enctype='multipart/form-data' method='POST'>
    <div id='upload-run-button'></div>
</form>

<div id='runs_div'></div>

<p>
    <a href='javascript:done()' class='labkey-button'>
        <span>Done</span>
    </a>
</p>

<script type="text/javascript">

function done()
{
    var url = LABKEY.ActionURL.buildURL("assay", "assayRuns", LABKEY.ActionURL.getContainer(), LABKEY.ActionURL.getParameters());
    window.location = url;
}

function saveBatch()
{
    if (!LABKEY.isDirty()) return;

    LABKEY.Experiment.saveBatch({
        assayId : LABKEY.page.assay.id,
        batch : LABKEY.page.batch,
        successCallback : function (batch, response)
        {
            LABKEY.page.batch = batch;
            renderBatch();
            LABKEY.setDirty(false);
            Ext.Msg.hide();
        },
        failureCallback : function (error, format)
        {
            Ext.Msg.hide();
            Ext.Msg.alert("Failure when communicating with the server: " + error.exception);
        }
    });
}

function init()
{
    new Ext.form.TextField({
        enableKeyEvents: true,
        listeners: {
            'keydown': function (field, evt)
            {
                if (field.isDirty())
                {
                    LABKEY.page.batch.name = field.getValue();
                    LABKEY.setDirty(true);
                }
            },
            'specialkey': function (field, evt)
            {
                if (evt.getKey() == Ext.EventObject.ENTER)
                {
                    LABKEY.page.batch.name = field.getValue();
                    LABKEY.setDirty(true);
                }
            },
            'change': function (field, newValue, oldValue)
            {
                LABKEY.page.batch.name = newValue;
                LABKEY.setDirty(true);
            }
        },
        applyTo: 'batch_name_input',
        id: 'batch_name_field',
        width: 200
    });
    
    var form = new Ext.form.BasicForm(
        Ext.get("upload-run-form"), {
        fileUpload: true,
        frame: false,
        url: LABKEY.ActionURL.buildURL("assay", "assayFileUpload"),
        listeners: {
            "actioncomplete" : function (f, action)
            {
                handleDataUpload(f, action);
            },
            "actionfailed" : function (f, action)
            {
                handleDataUpload(f, action);
            }
        }
    });

    var uploadField = new Ext.form.FileUploadField({
        id: "upload-run-field",
        renderTo: "upload-run-button",
        buttonText: "Add Excel file...",
        buttonOnly: true,
        buttonCfg: {
            cls: "labkey-button"
        },
        listeners: {
            "fileselected": function (fb, v)
            {
                form.submit();
            }
        }
    });

    renderBatch();
}

function trim(stringToTrim) {
    return stringToTrim.replace(/^\s+|\s+$/g,"");
}

function equalsIgnoresCase(str1, str2)
{
    return str1.toLowerCase() == str2.toLowerCase();
}

function renderBatch()
{
    var batch = LABKEY.page.batch;
    Ext.getCmp('batch_name_field').setValue(batch.name);
    Ext.fly('batch_created_span').update(batch.created);
    Ext.fly('batch_createdBy_span').update(batch.createdBy);
    Ext.fly('batch_modified_span').update(batch.modified);
    Ext.fly('batch_modifiedBy_span').update(batch.modifiedBy);

    renderRunsWebPart();
}

var webpart = null;

function renderRunsWebPart()
{
    // fetch the runs webpart only after the batch has been saved once
    if (LABKEY.page.batch.id)
    {
        var partConfig = {};
        partConfig.viewProtocolId = LABKEY.page.assay.id;
        partConfig[LABKEY.page.assay.name + " Runs.Batch/RowId~eq"] = LABKEY.page.batch.id;

        webpart = new LABKEY.WebPart({
            partName: 'Assay Runs',
            renderTo: 'runs_div',
            frame: 'none',
            partConfig: partConfig
        });
    }

    if (webpart) webpart.render();
}

function handleDataUpload(f, action)
{
    if (!action || !action.result)
    {
        Ext.Msg.alert("Upload Failed", "Something went horribly wrong when uploading.");
        return;
    }
    if (!action.result.id)
    {
        Ext.Msg.alert("Upload Failed", "Failed to upload the data file: " + action.result);
        return;
    }

    Ext.Msg.wait("Uploading...");

    var data = new LABKEY.Exp.Data(action.result);

    var run = new LABKEY.Exp.Run();
    run.name = data.name || "[New]";
    run.dataInputs = [ data ];

    if (!data.content)
    {
        // fetch the contents of the uploaded file.
        // Using 'jsonTSVExtended' will ensure date formats
        // found in the excel document are applied.
        data.getContent({
            format: 'jsonTSVExtended',
            successCallback: function (content, format)
            {
                data.content = content;
                handleRunContent(run, content);
            },
            failureCallback: function (error, format)
            {
                Ext.Msg.hide();
                Ext.Msg.alert("Upload Failed", "An error occurred while fetching the contents of the data file: " + error.exception);
            }
        });
    }
    else
    {
        Ext.Msg.hide();
    }
}

function handleRunContent(run, content)
{
    if (!content)
    {
        Ext.Msg.hide();
        Ext.Msg.alert("Upload Failed", "The data file has no content");
        return;
    }
    if (!content.sheets || content.sheets.length == 0)
    {
        // expected the data file to be parsed as jsonTSV
        Ext.Msg.hide();
        Ext.Msg.alert("Upload Failed", "The data file has no sheets of data");
        return;
    }

    var sheet = content.sheets[0];
    // If there's a sheet named "Data" , use that instead
    for (var index = 0; index < content.sheets.length; index++)
    {
        if (content.sheets[index].name == "Data")
            sheet = content.sheets[index];
    }

    var data = sheet.data;
    if (!data.length)
    {
        Ext.Msg.alert("Upload Failed", "The data file contains no rows");
        return;
    }

    // convert the data from into an array of map objects
    run.dataRows = [];
    for (var i = 1; i < data.length; i++) {
      var row = data[i];
      var participantid = row[0];
      var date = row[1];
      var m1 = row[2];
      var stim = row[3]
      var weight = row[4];

      // skip any rows missing required data
      if (!participantid || !date || !m1 || !stim || !weight)
        continue;

      run.dataRows.push({
          "ParticipantId": participantid.value,
          "Date": date.formattedValue, // use the excel formatted value
          "M1": m1.value,
          "Stim": stim.value == "y",   // convert Stim to a boolean
          "Weight": weight.value
      });
    }

    LABKEY.page.batch.runs = LABKEY.page.batch.runs || [];
    LABKEY.page.batch.runs.push(run);

    LABKEY.setDirty(true);
    saveBatch();
}

init();
</script>
