.overview {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.overview__button {
    width: 78px;
    border: 1px solid #a9a9a9;
    padding: 6px 12px;
    cursor: pointer;
    margin-left: 50px;
    margin-right: 15px;
}

.overview__loading-text::after {
    content: 'loading...';
    color: #a9a9a9;
}

.overview__success-text::after {
    content: 'success!';
    color: forestgreen;
}
