<div id='divLabResults'/>
<script type="text/javascript">

// Ensure that page dependencies are loaded
LABKEY.requiresExt3ClientAPI(function() {
    Ext.onReady(initLR);
});

function initLR() {
    // A narrow grid view that frees up real estate
    // on the rightside, by setting frame to 'none'.
    var qwp1 = new LABKEY.QueryWebPart({
        renderTo: 'divLabResults',
        title: 'Lab Results',
        schemaName: 'study',
        queryName: 'Lab Results Query',
        showDetailsColumn: false,
        frame: 'none',
        maxRows: '20',
        buttonBar: { includeStandardButtons: true }
    });
}

</script>
